.quickLinks{
	background: linear-gradient(to right, #1a0b8c 0%, #fa50cb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.quickLinks ul li a{
	background: linear-gradient(to right, #1a0b8c 0%, #fa50cb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.quickLinks ul{
	list-style-type: none;
	padding-left: .5rem;
}
.emailsubscribe{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.emailsubscribe h6{
    margin-bottom: 1rem;
    color: white;
}
.footerCust{
	background: linear-gradient(to bottom left,#1a0b8c, #fa50cb);
	border-top:2px solid purple;
}
.social-icons ul{
	list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-left: 2rem;
    padding-right: 2rem;
}
.social-icons h6{
    margin-bottom: 1rem;
    color: white;
}
.social-icons i{
	font-size: 1.2rem;
	color:white;
}
.footer-menu{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-menu ul{
	list-style-type: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    font-weight: 600;
}
.footer-menu ul li{
    display:inline;
    margin:0 1rem;
}
.footer-menu ul li a{
    color:white;
}
.footer-menu ul li a:hover{
	border-bottom:2px solid white;
    border-image-slice: 1;
    border-radius: 0;
    color: white;
    text-decoration: none;
}
.copyright-para{
	margin-bottom: 0;
	font-size: 11px;
}
.copyright-para a{
	color:grey;
}
.footer-rys img{
    width:100%;
    border-radius: 50%;
    box-shadow: 1px 1px 11px 4px;
}
.myForm{
    padding: 1.5rem 1.5rem !important;
    border-radius: 0 !important;
    border: 0;
    border-right: 2px solid purple;
}
.footerbtn{
    background-color: white;
    color: purple;
    border-radius: 0;
    border: 0;
    font-weight: 600;
}