body{
    font-family: 'Ubuntu', sans-serif;
}
a.btn-lg:hover{
    color:#fff !important;
}
.logo-div a{
	z-index: 100;
}
.banner{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.banner img{
	width:100%;
}
.text-on-banner{
	position: absolute;
}
.text-on-img h3{
	color:#fff;
}
.yttc-200{

}
.category-social h5{
	color:purple;
}
.category-social{
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-flex{
	display: flex;
	justify-content: center;
	align-items: center;
}
h5, h3{
	color:purple;
}
h1{
    color:purple;
    font-size:2rem;
    margin-bottom:1rem;
}
.social-div{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70%;
	flex-direction: column;
	border-left:2px solid #f0f0f0;
}
@media (min-width:320px) and (max-width: 575px){
    .social-div{
     border-left:none;   
    }
}
#imageGallery li img{
    width:100%;
}
.social-div i{
	font-size: 2rem;
	color: purple;
}
.course-info h4, .course-info h3{
	color:purple;
}
.course-info{
	height: 100%;
    display: flex;
    justify-content: center;
}
.course-info h4{
	margin-bottom:.25rem;
}
.course-info p{
	margin-bottom: .5rem;
}
.curriculum-includes{
	list-style-type: none;
	padding-left: 0;
}
.curriculum-includes li{
	margin-bottom: .5rem;
}
.curriculum-includes li:before{
	content:"\f05d";
	margin-bottom: .25rem;
	margin-right:.5rem;
	font-family: FontAwesome;
}
.daily-includes{
	list-style-type: none;
	padding-left:0;
}
.daily-includes li span{
    margin-left:2.5rem;
}
.daily-includes li:before{
	content:'\f111';
	margin-bottom:.25rem;
	margin-right:.25rem;
	font-family: FontAwesome;
}
.about-ins{
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-div-2{
	display: flex;
	justify-content: center;
}
.review-div-2 ul{
	list-style-type:none;
}
.review-div-1 p{
	text-align: center;
	font-size: 5rem;
}
.review-div-2 ul li:after{
	content:"";
	display: block;
	height:1px;
	width:140%;
	margin:2px;
	background:#f0f0f0;
}
.single-strip-star{
	text-align: center;
}
.detailbtn{
	background:linear-gradient(to bottom left,#1a0b8c, #fa50cb);
	color:#fff;
	border-radius: 0;
	border: unset;
}
.leave-review .table td{
	border:none;
}
.subbtn{
	background-image: linear-gradient(to bottom left,#1a0b8c, #fa50cb);
	color:#fff;
	border-radius: 0;
	border: unset;
}
.desc-content{
	padding-top:1rem;
}
.btnCust{
	color:#fff;
	background-image: linear-gradient(to bottom left,#1a0b8c, #fa50cb);
	border:none;
	padding:.5rem;
	border-radius: 0;
}